/*
 * Common styling based on our design system. 
 * 
 * See design-system.html for more information.
 */

/* ----------------------------------------------------------- 
 * Accessibility
 */

.screen-reader-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px); /* IE 6 and 7 */
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}

/* ----------------------------------------------------------- 
 * Fonts
 */

@font-face {
    font-family: "comfortaa";
    src: url(../font/Comfortaa-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "comfortaa";
    src: url(../font/Comfortaa-Bold.ttf) format("truetype");
    font-weight: bold;
}

/* ----------------------------------------------------------- 
 * Typology
 */

h1, 
h2, 
h3 {
    font: bold 25px/1.5 "comfortaa", sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 32px;
}

p, 
a, 
div, 
input, 
button {
    font: 14px/2 "comfortaa";
}

/* ----------------------------------------------------------- 
 * Theme colors
 */

:root {
    --bg-color: #fff;
    --accent-color: #00b513;
    --accent-dark-color: #306f36;    
    --accent-light-color: #00ce15;
    --text-color: #434343;
    --light-text-color: #7B7B7B;
    --overlay-text-color: #fff;
    --border-color: #707070;
    --footer-bar-color: #2a2a2a;
    --footer-bar-text-color: #ccc;
}

body {
    background: var(--bg-color);
}

/* ----------------------------------------------------------- 
 * General layout
 */

body {
    margin: 0;
}

.wrap {
    padding: 0 5%;
}

@media only screen and (min-width: 960px) {

    .wrap {
        width: 75%;
        max-width: 1350px;
        margin: 0 auto;
        padding: 0;
    }

}

/* ----------------------------------------------------------- 
 * Buttons
 */

 /* Default button appearance */
.btn {
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    border: solid 2px var(--accent-color);
    border-radius: 35px;
    padding: 8px 12px;
    background: var(--accent-color);
    color: var(--overlay-text-color);
}

.btn:hover {
    background: var(--accent-light-color);
}

/* Icon buttons */
.btn--icon, 
.btn--icon:hover {
    border: none;
    background: transparent;
    color: var(--accent-color);    
    padding: 14px;
}

@media only screen and (min-width: 960px) {

    .btn--icon, 
    .btn--icon:hover {
        padding: 8px;
    }

}

 /* Toggle buttons */
.toggle-btn {
    color: var(--accent-color);
    background: var(--bg-color);
}

.toggle-btn:hover {
    background: var(--accent-light-color);
    color: var(--overlay-text-color);
}

.toggle-btn--on {    
    background: var(--accent-color);
    color: var(--overlay-text-color);
}

.toggle-btn--disabled {
    cursor: unset;
}

.toggle-btn--disabled:hover {    
    background: var(--accent-color);
}

 /* Button groups */
.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/* Google material font icons */
.material-icons {
    color: var(--accent-color);
    vertical-align: middle;
    font-size: 27px;
}

.btn:not(.btn--icon) .material-icons {    
    color: var(--overlay-text-color);
    font-size: 23px;
}

/* ----------------------------------------------------------- 
 * Menus
 */
 
.menu-item a {
    display: block;
}

.menu-item:hover a {
    color: var(--accent-color);
}

.menu-item--current a {
    font-weight: bold;
}

.menu-item__link {
    padding: 15px 0;
}
