/*
 * Common styling based on our design system.
 *
 * See design-system.html for more information.
 */

/* -----------------------------------------------------------
 * Accessibility
 */

.screen-reader-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px); /* IE 6 and 7 */
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}

/* -----------------------------------------------------------
 * Theme colors
 */

:root {
    --bg-color: #fff;
    --accent-color: #00b513;
    --accent-dark-color: #306f36;
    --accent-light-color: #00ce15;
    --text-color: #222;
    --light-text-color: #444;
    --overlay-text-color: #fff;
    --border-color: #707070;
    --footer-bar-color: #2a2a2a;
    --footer-bar-text-color: #ccc;
}

body {
    background: var(--bg-color);
}

/* -----------------------------------------------------------
 * Fonts
 */

@font-face {
    font-family: "comfortaa";
    src: url(../font/Comfortaa-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "comfortaa";
    src: url(../font/Comfortaa-Bold.ttf) format("truetype");
    font-weight: bold;
}

/* -----------------------------------------------------------
 * Typology
 */

p,
a,
div,
input,
button,
li,
figcaption,
q {
    font: 16px/2 "comfortaa";
    color: var(--text-color);
}

.post-content p,
.post-content a,
.post-content div,
.post-content input,
.post-content button,
.post-content li,
.post-content q {
    font-size: 18px;
}

h1,
h2,
h3 {
    font: bold 25px/1.5 "comfortaa", sans-serif;
    color: var(--accent-color);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 32px;
}

a, a:hover {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: underline;
}

@media only screen and (min-width: 960px) {
    p,
    a,
    div,
    input,
    button,
    li,
    figcaption {
        font-size: 14px;
    }

    .post-content p,
    .post-content a,
    .post-content div,
    .post-content input,
    .post-content button,
    .post-content li {
        font-size: 16px;
    }
}

/* The assessment criteria seems to suggest I need to declare these (?). */
p em {
    font-style: italic;
}

p strong {
    font-weight: bold;
}

p u {
    text-decoration-style: underline;
}

/* -----------------------------------------------------------
 * General layout
 */

body {
    margin: 0;
}

.wrap {
    padding: 0 5%;
}

@media only screen and (min-width: 960px) {

    .wrap {
        width: 75%;
        max-width: 1350px;
        margin: 0 auto;
        padding: 0;
    }

}

/* Ensures footer stays at the bottom of the page when the content
   is too small to fill the viewport */
.page-content {
    min-height: 89vh;
    padding-bottom: 50px;
}

/* -----------------------------------------------------------
 * Buttons
 */

 /* Default button appearance */
.btn {
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    border: solid 2px var(--accent-color);
    border-radius: 35px;
    padding: 8px 12px;
    background: var(--accent-color);
    color: var(--overlay-text-color);
}

.btn:hover {
    background: var(--accent-light-color);
    text-decoration: none;
}

/* Icon buttons */
.btn--icon,
.btn--icon:hover {
    border: none;
    background: transparent;
    color: var(--accent-color);
    padding: 14px;
}

@media only screen and (min-width: 960px) {

    .btn--icon,
    .btn--icon:hover {
        padding: 8px;
    }

}

 /* Toggle buttons */
.toggle-btn {
    color: var(--accent-color);
    background: var(--bg-color);
}

.toggle-btn:hover {
    background: var(--accent-light-color);
    color: var(--overlay-text-color);
}

.toggle-btn--on {
    background: var(--accent-color);
    color: var(--overlay-text-color);
}

.toggle-btn--disabled {
    cursor: unset;
}

.toggle-btn--disabled:hover {
    background: var(--accent-color);
}

 /* Button groups */
.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

@media only screen and (min-width: 960px) {

    .btn-group {
        gap: 12px;
    }

}

/* Google material font icons */
.material-icons {
    color: var(--accent-color);
    vertical-align: middle;
    font-size: 27px;
}

.btn:not(.btn--icon) .material-icons {
    color: var(--overlay-text-color);
    font-size: 23px;
}

/* -----------------------------------------------------------
 * Lists
 */

li {
    padding-left: 5px;
}

/* -----------------------------------------------------------
 * Horizontal dividers
 */

hr {
    border-style: none;
    border-top: solid 1px var(--border-color);
    margin: 5px auto;
    width: 30%;
    min-width: 130px;
    max-width: 260px;
}

/* -----------------------------------------------------------
 * Figures
 */

figure {
    margin: 28px 0;
    text-align: center;
}

figcaption {
    color: var(--light-text-color);
}

/* -----------------------------------------------------------
 * Internal link anchors
 */

.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

/* -----------------------------------------------------------
 * Menus
 */

.menu-item {
    padding: 0;
}

.menu-item a {
    display: block;
    font-weight: normal;
}

.menu-item:hover a {
    color: var(--accent-color);
}

.menu-item--current a {
    font-weight: bold;
}

.menu-item__link {
    padding: 15px 15px;
}

@media only screen and (min-width: 960px) {

    .menu-item__link {
        padding: 15px 0;
    }

}

/* -----------------------------------------------------------
 * Social Links
 */

 .social-links {
    display: flex;
    justify-content: center;
    gap: 31px;
    list-style: none;
    padding: 0;
}

.social-links__icon {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: var(--accent-dark-color);
    padding: 0;
}

.social-links--fb {
    background: #4064AC;
}

.social-links--fb:hover {
    background: #628ad8;
}

.social-links--twitter {
    background: #4DA6E9;
}

.social-links--twitter:hover {
    background: #71c1ff;
}

.social-links--linkdin {
    background: #0077B0;
}

.social-links--linkdin:hover {
    background: #149ad8;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.social-links__img {
    width: 60%;
}

@media only screen and (min-width: 960px) {

    .social-links {
        justify-content: flex-start;
        gap: 16px;
    }

    .social-links__icon {
        width: 32px;
        height: 32px;
    }

}

/* -----------------------------------------------------------
 * Search box
 */

.search-box {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.search-box__input {
    width: 80%;
    max-width: 250px;
    height: 27px;
    padding: 3px 6px;
}

@media only screen and (min-width: 960px) {

    .search-box {
        margin-left: 0;
        justify-content: flex-start;
    }

}

/*-----------------------------------------------------------
 * Image placeholder color while loading
 */

 .use-placeholder {
    background-color: var(--accent-dark-color);
}

/* -----------------------------------------------------------
 * Background images
 */

.img--home-hero {
    background-image: url(../img/home-hero.jpg);
}

.img--study-tips-1 {
    background-image: url(../img/study-tips-5.jpg);
}

.img--study-tips-2 {
    background-image: url(../img/study-tips-2.jpg);
}

.img--study-tips-3 {
    background-image: url(../img/study-tips-3.jpg);
}

.img--study-tips-4 {
    background-image: url(../img/study-tips-4.jpg);
}

.img--study-tips-5 {
    background-image: url(../img/study-tips-1.jpg);
}

/* -----------------------------------------------------------
 * Post Page
 */

.header-hero--post .header-hero__post-category {
    font-size: 21px;
    line-height: 1.2;
    text-decoration: none;
}

.post-area {
    margin: 0 auto 60px;
}

.post-content {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 4%;
}

.post-content__img--wide {
    width: 100%;
}

@media only screen and (min-width: 960px) {

    .post-content {
        padding: 0;
    }

}

/* Post navigation (next and previous buttons) */
.post-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.post-nav > a {
    font-size: 20px;
}

.sep {
    display: none;
}

@media only screen and (min-width: 960px) {

    .post-nav > a {
        font-size: 18px;
    }

    .sep {
        display: block;
    }

}

/* Related articles */
.related-articles {
    text-align: center;
    margin-bottom: 50px;
}

.related-articles .post__content {
    width: 95%;
}

.related-articles h2 {
    font-size: 28px;
}

/* Share this post */

.share {
    margin: 55px 0 0;
}

.share__hr {
    width: 100px;
}

.share__title {
    font-size: 27px;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
}

@media only screen and (min-width: 960px) {

    .share__hr {
        margin: 0;
    }

    .share__title {
        font-size: 24px;
        text-align: left;
    }

}

/* -----------------------------------------------------------
 * Other
 */

.filters {
    justify-content: center;
    margin: 25px 8px;
}

.small-icon {
    max-width: 20px;
    vertical-align: middle;
    margin-top: -4px;
}