/*
 * Main footer styling.
 */

 .footer-sections {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "author"
    "search"
    "cat"
    "arch"
    "social";
    gap: 20px 40px;
    text-align: center;
    margin: 67px auto 88px;
}

.footer-section__title {
    color: var(--accent-color);
    font-size: 24px;
    margin: 0 0 16px;
}

.footer-section__text {
    margin: 0 auto;
}

.footer-section__home-link {
    text-decoration: none;
}

.footer-section__author-bio {
    grid-area: author;
}

.footer-section__search {
    grid-area: search;
}

.footer-section__categories {
    grid-area: cat;
}

.footer-section__archive {
    grid-area: arch;
}

.footer-section__social {
    grid-area: social;
}

@media only screen and (min-width: 960px) {

    .footer-sections {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "author author author"
        "cat arch search"
        "cat arch social";
        gap: 40px;
        text-align: left;
    }
    
    .footer-section__text {
        margin: 0;
    }

}

@media only screen and (min-width: 1700px) {

    .footer-sections {
        grid-template-columns: 4fr 1fr 1fr 1fr;
        grid-template-areas: 
        "author cat arch search"
        "author cat arch social";
        gap: 20px 40px;
    }

}

/* Author bio */
.footer-section .author-bio__content {
    max-width: 90%;
}

.footer-section__author-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-section .author-bio__avatar {
    max-width: 217px;    
    max-height: 217px;
}

.footer-section .author-bio__company a {
    text-decoration: none;
}

.footer-section .author-bio__desc {
    padding-top: 12px;
}

/* Footer nav */
.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list-item {
    margin-bottom: 13px;
}

.nav-list-item a {
    color: var(--text-color);
}

@media only screen and (min-width: 600px) {

    .footer-section .author-bio__content {
        max-width: 53%;
    }

}

@media only screen and (min-width: 960px) {

    .footer-section__author-bio {
        flex-direction: row;
        justify-content: left;
    }

    .footer-section .author-bio__content {
        max-width: unset;
    }

    .nav-list-item {
        margin-bottom: 6px;
    }
    
    .footer-section hr {
        margin-left: 8px;
        margin-right: 0;
    }

}

/* Footer search */
.footer-section .search-box__input {
    max-width: 210px;
}

/* Footer bar */
.footer-bar {
    background: var(--footer-bar-color);
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin: 0;
    padding: 20px;
    list-style: none;
}

.footer-info li, 
.footer-info a {    
    color: var(--footer-bar-text-color);
}