/*
 * Main styling for Dave's Blog. 
 */

@import url(common.css);
@import url(header-nav.css);
@import url(header-hero.css);
@import url(footer.css);

/* ----------------------------------------------------------- 
 * Home Page
 */

.home .post__img {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.home .post__content {
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
    text-align: right;
}

.home .site-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 410px;
    gap: 10px;
}

@media only screen and (min-width: 960px) {

    .home .post--featured {
        grid-row: 1 / span 2;
    }

    .home .site-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

/* ----------------------------------------------------------- 
 * Blog Post Cards
 */

.post__content h2 {
    color: var(--overlay-text-color);
}

/* Gradient bg overlay */
.post__content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0,0,0, 60%), transparent);
    z-index: -1;
}
    
.post__content:hover::before {
    height: 100%;
    background: rgba(0 0 0 / 60%);
}

/* Blog post cards */
.post__link, .post__link:hover {
    text-decoration: none;
    color: var(--overlay-text-color);
}

.post__subheading {
    display: block;
}

.post__category {
    color: var(--accent-color);
    font-size: 20px;
}

.post__content h2, 
.post__category {
    margin: 0;
}

@media only screen and (min-width: 960px) {

    .post--featured h2 {
        font-size: 42px;
    }

}
 
/* ----------------------------------------------------------- 
 * Post Page
 */

.post-content {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 4%;
}

.header-hero--post .header-hero__post-category {
    font-size: 21px;
    line-height: 1.2;
    text-decoration: none;
}

@media only screen and (min-width: 960px) {

    .post-content {
        padding: 0;
    }

}