/*
 * Main styling for Dave's Blog. 
 */

@import url(common.css);


/* ----------------------------------------------------------- 
 * Background Images
 */

.img--home-hero {
    background: url(../img/home-hero.jpg);
}

.img--study-tips-1 {
    background: url(../img/study-tips-1.jpg);
}

.img--study-tips-2 {
    background: url(../img/study-tips-2.jpg);
}

.img--study-tips-3 {
    background: url(../img/study-tips-3.jpg);
}

.img--study-tips-4 {
    background: url(../img/study-tips-4.jpg);
}

.img--study-tips-5 {
    background: url(../img/study-tips-5.jpg);
}

/* ----------------------------------------------------------- 
 * Home Page Layout
 */

