/*
 * Main styling for Dave's Blog. 
 */

@import url(common.css);
@import url(header-nav.css);
@import url(header-hero.css);
@import url(footer.css);

/* ----------------------------------------------------------- 
 * Home Page Layout
 */

.post__img {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.post__content {
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
    text-align: right;
}

.site-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 410px;
    gap: 10px;
}

.filters {
    justify-content: center;
    margin: 25px 8px;
}

@media only screen and (min-width: 960px) {

    .post--featured {
        grid-row: 1 / span 2;
    }

    .site-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

/* ----------------------------------------------------------- 
 * Home Page Appearance
 */

/* Gradient bg overlay */
.post__content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0,0,0, 60%), transparent);
    z-index: -1;
}
    
.post__content:hover::before {
    height: 100%;
    background: rgba(0 0 0 / 60%);
}

/* Blog post cards */
.post__link, .post__link:hover {
    text-decoration: none;
    color: var(--overlay-text-color);
}

.post__subheading {
    display: block;
}

.post__category {
    color: var(--accent-color);
    font-size: 20px;
}

.post__content h2, 
.post__category {
    margin: 0;
}

@media only screen and (min-width: 960px) {

    .post--featured h2 {
        font-size: 42px;
    }

}

/* Search box */
.search-box {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.search-box__input {
    width: 60%;
    height: 27px;
}

@media only screen and (min-width: 960px) {

    .search-box {
        margin-left: 0;
        justify-content: flex-start;
    }

}